<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403556863061-82g3o6depjr6b34ripe5v4snl9ni215q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403556863061-82g3o6depjr6b34ripe5v4snl9ni215q</string>
	<key>API_KEY</key>
	<string>AIzaSyBcg4LIX2hs1cLhPR7VUprJ8Ddo7xhDoBY</string>
	<key>GCM_SENDER_ID</key>
	<string>403556863061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cbn.FolderLocker</string>
	<key>PROJECT_ID</key>
	<string>folderlocker-a16a3</string>
	<key>STORAGE_BUCKET</key>
	<string>folderlocker-a16a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403556863061:ios:0b69286f627b90e90b18dc</string>
	<key>DATABASE_URL</key>
	<string>https://folderlocker-a16a3.firebaseio.com</string>
</dict>
</plist>